<link href="css/users.css" rel="stylesheet" type="text/css" />
<body>
  <%if(locals.user){%>
  <section>
    <form action="/users/postcreate" method="POST" >
      <textarea name="content" cols="30" rows="10" required></textarea>
      <input type="submit" value="Post" />
    </form>
  </section>
  <%}%>
  <section>
    <% for(post of posts){ %> 
        
      <%- include('posts') -%>
        
    <%}%>
  </section>
  <section>
    <% for(user of user_all){ %> 
      <div><a href="/users/profile/<%= user.id %>"><%= user.name %></a>
        </div>
        
      
        
    <%}%>
  </section>
</body>
