<link href="/css/users.css" rel="stylesheet"/>

  <%if(locals.user){%>
  <section class="secction">
    <form action="/users/postcreate" id="new-post" method="POST" >
      <textarea name="content" cols="30" rows="10" required></textarea>
      <input type="submit" value="Post" />
    </form>
  </section>
  <%}%>
  <section id="post-container">
    <% for(post of posts){ %> 
        
      <%- include('posts') -%>
        
    <%}%>
  </section>
  <section>
    <% for(user of user_all){ %> 
      <div><a href="/users/profile/<%= user.id %>"><%= user.name %></a>
        </div>
        
      
        
    <%}%>
  </section>
  <script src="/js/home_post.js"></script>

