<link href="css/users.css" rel="stylesheet" type="text/css">
<body>
<%if(locals.user){%>
<section>
    <form action="/users/postcreate" method="POST">
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<%}%>
<section>
    <% for(post of posts){ %>
        <div><%= post.content %>
        <small><%= post.user.name %></small>
        </div>

    <%}%> 
</section>








</body>